/* separate clouds  */ 

#cloud-2 {
  width: 895px;
  height: 467px;
  position: absolute;
  left: 50%;
  top: 50%;
}

#cloud-3 {
  width: 561px;
  height: 556px;
  position: absolute;
  left: 50%;
  top: 50%;
}

#cloud-4 {
  width: 689px;
  height: 439px;
  position: absolute;
  left: 50%;
  top: 50%;
}