/* icons */

.icon {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background-color: $red;
  font-size: 0px;
  line-height: 20px;

  &.icon_plus {
    background-image: url('/src/img/icons/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }

  &.icon_yellow {
    background-color: $yellow;

    &:hover { 
      color: $red ;
    }
  }
}