/* Baloon with cloud  */
.baloon-with-cloud {
  width: 365px;

  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-58%);
  overflow: hidden;

  #baloon-stroke {
    .baloon {
      transition: transform $baloon-anim-hover-duration $baloon-anim-hover-easing;
    }
  }
  
  #baloon-stroke .baloon-flowing {
    animation-name: baloon-flowing;
    animation-duration: $baloon-anim-flowing-duration;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes baloon-flowing {
    0%   { transform: translateY(0px)}
    50%  { transform: translateY(-20px)}
    100% { transform: translateY(0px)}
  }
  
  // &:hover .baloon { transform: translateY(-4.5rem); }
}