

/* Block: Tags */
.tags {
  position: absolute;
  width: 100%;
  right: 0;
  top: calc(250px + 1.375rem);
  display: flex;
  justify-content: flex-end;
}

.tag {
  width: 100px;
  height: 85px;
  background: url('/src/img/tags/tag_rock-n-roll.svg') no-repeat center center;
  background-size: 68px;
}