@import "./submenu_mobile.scss";
@import "./contactIcons_mobile.scss";

.menu { 

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 29;
  font-size: 0.9375rem;
  line-height: 1.25em;
}

.menu__wrapper {
  display: block;
  background-color: white;
  transition: transform $interact-duration ease-out;
  overflow: scroll;

  width: 100%;
  
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  z-index: 30;
}

.menu__inner { 
  padding: 6.875rem 1.875rem 3.56rem 1.875rem;
  background-image: url('/src/img/logo.svg');
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position: 1.875rem 1.6875rem;
  display: flex;
  flex-direction: column;

  > .submenu_contacts { flex: 0 0 auto; }
  > ul { flex: 1 1 auto; }
}

.menu__button {
  display: block;
  border: none;
  background-color: transparent;
  width: 2.625rem;
  height: 2.625rem;
  font-size: 0;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  background-color: rgba(10, 161, 208, 0.65);

  position: fixed;
  right: 1rem;
  top: 0.2rem;
  z-index: 31;

  #menu__button-icon {
    display: block;
    width: 2.625rem;
    height: 2.625rem;
    font-size: 10px;

    .menu__button-iton-line { fill: white; }
    
    .menu__button-iton-line_1 { 
      transform-origin: 0.95rem 1.18rem;
      transition: fill $interact-duration linear, transform $interact-duration linear; 
    }
    
    .menu__button-iton-line_2 { 
      font-size: 1.2em;
      transform-origin: 1.3rem 1.25rem;
      transition: fill $interact-duration linear, transform $interact-duration linear; 
    }
    
    .menu__button-iton-line_3 { 
      transition: fill $interact-duration linear, opacity $interact-duration linear; 
    }
  }
}

.menu_opened {
  .menu__button {
    background-color: transparent;

    #menu__button-icon {

      .menu__button-iton-line { fill: $blue; }

      .menu__button-iton-line_1 { transform: rotate(45deg) }
      .menu__button-iton-line_2 { transform: rotate(-45deg) }
      .menu__button-iton-line_3 { opacity: 0; }
    }
  }

  .menu__wrapper {
    display: block;
    transform: translateX(-100%);
  }
}


.menu__inner > ul {
  
  list-style-type: none;
  color: $blue;

  display: flex; 
  flex-flow: column wrap;
  align-items: start;
  
  .menu__item + .menu__item {
    margin-top: 2.125rem;
  }
}

.menu__item > a,
.menu__item > span {
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $header-alt-color;
    transition: width $interact-duration ease-out;
  }
}



.menu__item_has-submenu {
  > a, > span { 
    padding-right: 1.1rem;
  }

  > a::after,
  > span::after {
    content: '';
    display: block;
    width: 9px;
    height: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 1L8 3' stroke='%230AA1D0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 4px;
    transform: rotate(180deg);
  }

  &.menu__item_active,  
  &.menu__item_opened {
    > a::after,
    > span::after {
      transform: rotate(0deg);
    }
  }
}


.menu__item_active,  
.menu__item_opened {
  > a, > span {
    font-weight: bold;
    // border-bottom: 2px $header-alt-color solid;

    &::before {
      width: 100%;
    }
  }
}


.menu__item_opened .submenu {
  display: block;
}


/* contacts */



.menu__item_contacts {
  position: static;
  
  > a, > span {
    display: none;
  }
}

.submenu_contacts {
  display: block;
  // position: absolute; 
  // bottom: 0;
  // left: 0;
  // right: 0;

  .submenu__container {
    padding-top: 1.875rem;
    // padding: 1.875rem 1.875rem 3.56rem 1.875rem;

    > ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;

      .submenu__item + .submenu__item {
        margin-top: 1.6rem;
      }

      .submenu__item {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        color: $blue;
      }
    }

    .submenu__item-link {
      line-height: 1.75rem;
      white-space: nowrap;
    }

    .contact-icons {
      margin-left: 1.56rem;
    }
  }
}
