.submenu {
  display: none;
}

.submenu_with-subsubmenu { 
  
}

.submenu__lvl1-container,
.submenu__lvl2 {
  display: flex; 
  flex-flow: column wrap;
  align-items: start;
}
.submenu__lvl1-container { padding: 1.8rem 0 0 1.56rem!important; }
.submenu__lvl2 { padding: 1.8rem 0 1rem 1.56rem!important; }




@media screen and (max-width: 320px) {

  .submenu__lvl1-container,
  .submenu__lvl2 {
    padding-left: .9rem!important;
  }
}

.submenu__lvl1-item + .submenu__lvl1-item {
  margin-top: 1.533em;
}

.submenu__lvl1-item {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: normal;

  > a {
    text-decoration: none;
    line-height: 1.5em;
    border-bottom: 1px $blue solid;
  }
}

.submenu__button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  line-height: 1.5em;
  color: $blue;
  font-weight: inherit;
  padding: 0 1.1rem 0 0;
  // border-bottom: 1px $blue dashed;
  cursor: pointer;
  text-align: left;
  outline: none;
  white-space: nowrap;

  position: relative;

  &::before {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px $blue dashed;

    position: absolute;
    left: 0;
    right: 1.1rem;
    bottom: -3px;
  }

  &::after {
    content: '';
    display: block;
    width: 9px;
    height: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 1L8 3' stroke='%230AA1D0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 4px;
    transform: rotate(180deg);
  }
}

.submenu__lvl2-container {
  display: none;  
}

.submenu__lvl2 {
  display: none;
}

.submenu__lvl1-item_opened {
  font-weight: bold;

  .submenu__button {
    
    &::before { border-bottom: 1px transparent dashed; }

    &::after { transform: rotate(0deg); }
  }

  .submenu__lvl2 {
    display: flex;
  }
}


.submenu__lvl2-item + .submenu__lvl2-item {
  margin-top: 1.533em;
}


.submenu__lvl2-item {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: normal;
}

